.component {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 13px;
  padding-right: 13px;
  height: 50px;
  border: 1px solid rgba(255, 255, 255, 0.1);
  border-radius: 16px;
  background: rgba(118, 118, 128, 0.12);
}

.mglass {
  margin-right: 18px;
}

.component input {
  flex: 1 0;
  border: none;
  outline: none;
  min-width: 0;
  color: rgba(255, 255, 255, 1);
  background-color: transparent;
  font-size: 14px;
}

.button {
  margin-left: 18px;
}
