<div class="component">
  <div class="block">
    <app-search-input />
  </div>

  <div class="block">
    <div class="title">Жанр</div>
    <app-radio-list
      [list]="genres()"
      [selected]="filters()?.genre"
      (radioChange)="onGenreChange($event)"
    />
  </div>

  <div class="block">
    <div class="title">Дата выхода</div>
    <app-from-to-date />
  </div>

  <div class="block">
    <div class="title">Сортировать</div>
    @if (filters()) {
      <app-radio-list
        [list]="sortOptions"
        [selected]="filters()?.sort"
        (radioChange)="onSortChange($event)"
      />
    }
  </div>
</div>
